---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Ari43</title>
	</head>
	<body>
		<h1>Ari43</h1>
		<h2>Ari, Avery<br></h2>
		<p><a href="https://en.pronouns.page/@ari43" target="_blank"><sup><i>she/her they/them</i></sup></a></p>
		<h2>What I Enjoy</h2>
		<ul>
			<li>Computer Networking</li>
			<li>Linux Systems</li>
			<li>Information Security</li>
			<li>Computer Hardware</li>
		</ul>
		<h2>Where I Am</h2>
		<ul>
			<a href="https://matrix.to/#/@ari43:matrix.org" target="_blank"><li>Matrix<br>@ari43:matrix.org</li></a>
			<li>Discord<br>@ari43</li>
			<a href="https://github.com/Ari-43" target="_blank"><li>GitHub<br>@Ari-43</li></a>
			<li>Email<br><span class=email><span>ari</span><span>rera43</span><span>rera43@gmail.com</span></li>
		</ul>
	</body>
</html> 
